

<div class="container">
        
<h3 class="title">Leave a Friend Reference</h3>

<div class="row">
                    <div class="col-md-12">
Thanks for taking the time to leave a reference for <%= @user.fname %>.  We think <%= @user.fname %> is a wonderful person and we are glad to see that you agree.  

Friend-OS (the friend operating system) has been built from the ground up to help lonely people fill the void in their lives with a new friend. Unlike dating sites or those scary "meet-up" sites, Friend-OS is dedicated to one thing and one thing only, helping you find a new best friend.

Friend-OS has successfully matched up lonely people from all across the country with new best friends.
<br><br>
</div>
</div>



             <div class="row">
                    <div class="col-md-8">
                    	<%= form_for @reference, url: {action: "record_reference"}, html: {class: "nifty_form"} do |f| %>
                    		<div class="form-bg-1"><%= f.text_field :name, :placeholder => "Your Name", class: "form-control" %></div>
                    		<div class="form-bg-2"><%= f.text_field :email, :placeholder => "Your Email Address", class: "form-control" %></div>
                    		<div class="form-bg-1">
	                            <div class="styled-select">
	                                <select class="form-control col-md-3" name="reference[relationship]">
	                                    <option value="Relative">Relative</option>
	                                    <option value="Co-Worker">Co-Worker</option>
	                                    <option value="Acquaintance">Acquaintance</option>
	                                </select>
	                            </div>
                        	</div>
                    		<div class="form-bg-2">
                                <%= f.text_field :comment, :placeholder => "Share Your Thoughts on #{@user.fname}", class: "form-control" %>
                                </div>
                            <%= f.hidden_field :user_id, value: @user.id %>
                    		<button id="selectBtn" class="button_medium add_top_30">Leave Reference</button>
                    	<% end %>	
                        
                    </div>
                    <div class="col-md-4">
                    	<a href="/users/<%= @user.id %>">
                        <img src="<%= @user.profile_image %>" alt="" class="img-circle style img-responsive">
                        <br />
                        <h4 align="center">
                        	<%= @user.fname %> <%= @user.lname %><br>
                        	<%= @user.city %>, <%= @user.country %>
                        </h4>
                        <h5 align="center"><u>see full profile</u></h5>
                        </a>
                    </div>
             </div>
</div>